<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		
		$(function() {

            causeRepaintsOn = $("h1, h2, h3, p");

            $(window).resize(function() {
                causeRepaintsOn.css("z-index", 1);
            });

        });
	</script>
	<title>Home | Pricemania</title>
	
	
</head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<body>
	<header>
		<div class="container">
			<div id="branding">
			<h1 class="wrap">PriceMania</h1>
        </div>
			
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li class="current"><a href="/login">Login </a></li>
					<li class="current"><a href="/about"  target="_blank">About</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section class="pbox">
		<div class="product">
			<a href="/mobiles" target="_blank"><i class="fa fa-mobile fa-5x" aria-hidden="true"></i></a>
			<a href="/laptops" target="_blank"><i class="fa fa-laptop fa-5x" aria-hidden="true"></i></a>
			
			<a href="/tv" target="_blank"><i class="fa fa-television fa-5x" aria-hidden="true"></i></a>



		</div>

	</section>


	<section id="showcase">
		<div class="container">
			<h1>#MySmartPrice</h1>
        	<p>The smartest way to shop online is here, compare price on PriceMania!</p>
		</div>
	</section>

	
	<section id="newsletter">
		<div class="container">
			<h1>Subscribe for latest updates</h1>
			<form>
				<input type="email" name="enter email">
				<button type="submit" class="button1">Subscribe</button>
			</form>
		</div>
	</section>

	<footer>
		<p>Pricemania, Copyright &copy; 2019</p>
	</footer>

</body>
</html>
