<!DOCTYPE html>

<style type="text/css">
	.data{
		border:3px solid grey;
		margin:  0 10% 50px 10%;
		height: auto;
		padding: 0 5%;
		border-radius: 20px;
	}

	.data tr{
		border: 1px solid grey;
		padding-left:  20px;
		

	}

	th img{
		margin:30px;
	}

	th img:hover{
		
		transform: scale(1.2);
	}
	
	tr h2{
		margin-top: -30px;
	}
	th a:hover{
		text-decoration: none;
		color: #0CEE16;
		font-size: 35px;
	}

	.info{
		border: 1px solid white;
		text-align: center;
	}

	.info h1{
		font-size: 55px;
		color: #F43207;
	}

	.info p{
		font-size: 20px;
	}
</style>


<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		
		$(function() {

            causeRepaintsOn = $("h1, h2, h3, p");

            $(window).resize(function() {
                causeRepaintsOn.css("z-index", 1);
            });

        });
	</script>
	<title>{{company_name}}</title>
  	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
			<h1 class="wrap">PriceMania</h1>
        </div>
			
			<nav>
				<ul>
					<li class="current"><a href="/">HOME</a></li>
					<li class="current"><a href="/login" >login </a></li>
					<li class="current"><a href="/about"  target="_blank">about</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="pbox">
		<div class="product">
			<a href="/mobiles" ><i class="fa fa-mobile fa-5x" aria-hidden="true"></i></a>
			<a href="/laptops" ><i class="fa fa-laptop fa-5x" aria-hidden="true"></i></a>
			<a href="/tv"  ><i class="fa fa-television fa-5x" aria-hidden="true"></i></a>
		</div>
	</section>


    <section class="data">
		<div class="info">
	    	<h1>{{company_name}}</h1>
 			<P>{{productinfo}}</P>
		</div>
		{%for i in range(0, 8)%} 
		<table style="width:100%" align="right">	
	  		<tr>
	      		<th>
	            	<a target="_blank" href="/{{variable1}}/{{product_link[i]}}"><img src={{product_images[i]}} width="100"></a>
        		</th>
	         	<th>
		            <h2><a target="_blank" href="/{{variable1}}/{{product_link[i]}}">{{product_names[i]}}</a></h2>
	            	<br>
	      			<ul>
	            		<li>{{product_specs1[i]}}</li>
			            <li>{{product_specs2[i]}}</li>
			            <li>{{product_specs3[i]}}</li>
			            <li>{{product_specs4[i]}}</li>
			        </ul>
				</th>
	         	<th>
	          		<ul>
	            		<br><br>
	           			<li>{{product_specs5[i]}}</li>
			            <li>{{product_specs6[i]}}</li>
			            <li>{{product_specs7[i]}}</li>
			            <li>{{product_specs8[i]}}</li>
			           
	          		</ul>
	         	</th>
	        </tr>
	  	</table>
	  	<h2 style="color: white;">.</h2>

	  	{%endfor%}

	  	{%for i in range(8, 48)%} 
		<table style="width:100%" align="right">	
	  		<tr>
	      		<th>
	            	<a target="_blank" href="/{{variable1}}/{{product_link[i]}}"><img src={{product_images2[i]}} width="100"></a>
        		</th>
	         	<th>
		            <h2><a target="_blank" href="/{{variable1}}/{{product_link[i]}}">{{product_names[i]}}</a></h2>
	            	<br>
	      			<ul>
	            		<li>{{product_specs1[i]}}</li>
			            <li>{{product_specs2[i]}}</li>
			            <li>{{product_specs3[i]}}</li>
			            <li>{{product_specs4[i]}}</li>
			        </ul>
				</th>
	         	<th>
	          		<ul>
	            		<br><br>
	           			<li>{{product_specs5[i]}}</li>
			            <li>{{product_specs6[i]}}</li>
			            <li>{{product_specs7[i]}}</li>
			            <li>{{product_specs8[i]}}</li>
			           
	          		</ul>
	         	</th>
	        </tr>
	  	</table>
	  	<h2 style="color: white;">.</h2>

	  	{%endfor%}
		<h2 style="color: white;">.</h2>
    </section>

	<section id="newsletter">
		<div class="container">
			<h1>Subscribe for latest updates</h1>
			<form>
				<input type="email" name="enter email">
				<button type="submit" class="button1">Subscribe</button>
			</form>
		</div>
	</section>
	<footer>
		<p>Pricemania , Copyright &copy; 2019</p>
	</footer>



</body>
</html>