<!DOCTYPE html>
<style type="text/css">
	.brands{
		border: 3px solid grey;
		border-radius: 20px;
		margin:  0 10% 30px 10%;
		height: 800px;
		padding: 60px;
	}
	.b-box img{
		border: 3px solid white;
		padding: 30px;
		margin-top: 30px;
		margin-left: 5%;
		
		width:  180px;
		height: 180px;
	}

	.b-box img:hover{
		border: 2px solid lightgrey;
		transform: scale(1.2);
	}

	.b-box h1{
		color: #F43207;
		text-align: center;
	}
</style>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
		
		$(function() {

            causeRepaintsOn = $("h1, h2, h3, p");

            $(window).resize(function() {
                causeRepaintsOn.css("z-index", 1);
            });

        });
	</script>
	<title>Mobiles | Welcome</title>
	
	
</head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<body>
	<header>
		<div class="container">
			<div id="branding">
			<h1 class="wrap">PriceMania</h1>
        </div>
			
			<nav>
				<ul>
					<li class="current"><a href="/">Home</a></li>
					<li class="current"><a href="/login" >login </a></li>
					<li class="current"><a href="/about"  target="_blank">about</a></li>
				</ul>
			</nav>
		</div>
	</header>
	

	

	<section class="pbox">
		<div class="product">
			<a href="/mobiles" ><i class="fa fa-mobile fa-5x" aria-hidden="true"></i></a>
			<a href="/laptops" ><i class="fa fa-laptop fa-5x" aria-hidden="true"></i></a>
		
			<a href="/tv"  ><i class="fa fa-television fa-5x" aria-hidden="true"></i></a>
		</div>
	</section>

	<section class="brands">
		<div class="b-box">
			<h1>MOBILES</h1>
			<a href="/mobilescompany/xiaomi" ><img src="static/logos/mi.png"></a>
			<a href="/mobilescompany/asus" ><img src="static/logos/asus.png"></a>
			<a href="/mobilescompany/oppo" ><img src="static/logos/oppo.png"></a>
			<a href="/mobilescompany/vivo" ><img src="static/logos/vivo.png"></a>
			<a href="/mobilescompany/apple" ><img src="static/logos/apple.jpg"></a>
			<a href="/mobilescompany/nokia" ><img src="static/logos/nokia.png"></a>
			<a href="/mobilescompany/huawei" ><img src="static/logos/huawei.png"></a>
			<a href="/mobilescompany/lenovo" ><img src="static/logos/lenovo.jpg"></a>
			<a href="/mobilescompany/moto" ><img src="static/logos/moto.png"></a>
			<a href="/mobilescompany/samsung" ><img src="static/logos/samsung.png"></a>
			<a href="/mobilescompany/allmobiles" ><img src="static/logos/allmobiles.png"></a>
			
		</div>
		
	</section>

	<section id="newsletter">
		<div class="container">
			<h1>Subscribe for latest updates</h1>
			<form>
				<input type="email" name="enter email">
				<button type="submit" class="button1">Subscribe</button>
			</form>
		</div>
	</section>
	<footer>
		<p>Pricemania , Copyright &copy; 2019</p>
	</footer>

</body>
</html>
