<DOCTYPE !>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>Xiaomi Devices</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
  <style>
  table, th, td {
  border: 0px solid black;
  }

  /*.desc li{
  	font-family: inherit;
  }*/

  .mob_title h2{
  	font-family: serif;
  }
  .mob_title ul{
    font-weight: lighter;
  }


</style>

</head>
<body>
  <header>
    <div class="container">
      <div id="branding">
      <h1 class="logo">
            <span class="word2">PriceMania</span></h1>
        </div>

      <nav>
        <ul>
          <li><a href="homepage.html">HOME</a></li>
          <li class="current"><a href="priceMania/login" target="_blank">login </a><a href="signup.html" target="_blank">/ signup</a></li>
          <li class="current"><a href="products.html"  target="_blank">PRODUCTS</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="heading">
    <h1>Xiaomi Devices 2019</h1>
    <p>Xiaomi overhauled the Indian smartphone market with its debut in the year 2016. The Chinese manufacturer changed the dynamics by offering powerful devices under an affordable price range. The company has its own set of smartphones catering to every segment, right from entry level to flagship. Almost all the Xiaomi smartphones, except for the Mi A1 and the Mi A2, run its proprietary OS dubbed MIUI. Our price list for Xiaomi phones is up to date ensuring that you stay updated with latest launches and price changes. </p>
  </div>

  <br>


  <div id="desc">
    <table style="width:100%" align="right">
      <tr>
        <th>
          <div class="image">
            <a target="_blank" href="xiaomi/redminote7pro">
              <img src="static\xiaomi\redmi note 7 pro.jpg" width="100">
            </a>
          </div>
        </th>
        <th>
          <div class="mob_title">
            <h2><a target="_blank" href="xiaomi/redminote7pro">Xiaomi Redmi Note 7 Pro</a></h2>
          </div>
          <ul>
            <li>Qualcomm SDM675 Snapdragon 675</li>
            <li>4GB RAM</li>
            <li>64GB internal storage</li>
            <li>4000 mAh battery</li>
            <ul>
        </th>
        <th>
          <ul>
            <br><br>
            <li>Dual (48MP 5MP) rear,13MP selfie</li>
            <li>6.3 inches Screen</li>
            <li>Dual, Nano-SIM(Hybrid Slot)</li>
            <li>Android 9.0(pie)</li>
          </ul>
        </th>
      </tr>
    
        <tr>
          <th>
            <div class="image">
              <a target="_blank" href="xiaomi/redminote7">
                <img src="static\xiaomi\redmi note 7.jpg" width="100">
              </a>
            </div>
          </th>
          <th>
            <div class="mob_title">
              <h2><a target="_blank" href="xiaomi/redminote7">Xiaomi Redmi Note 7</a></h2>
            </div>
            <ul>
              <li>Qualcomm SDM660 Snapdragon 660</li>
              <li>3GB RAM</li>
              <li>64GB internal storage</li>
              <li>4000 mAh battery</li>
            <ul>
          </th>
          <th>
            <ul>
              <br><br>
              <li>Dual(12MP 2MP) rear, 13MP selfie</li>
              <li>6.3 inches Screen</li>
              <li>Dual, Nano-SIM,(Hybrid Slot)</li>
              <li>Android 9.0(Pie)</li>
            </ul>
          </th>
        </tr>


          <tr>
            <th>
              <div class="image">
                <a target="_blank" href="images\Apple iPhone 8.jpg">
                  <img src="static\xiaomi\redmi note 6 pro.jpg" width="100">
                </a>
              </div>
            </th>
            <th>
              <div class="mob_title">
                <h2><a target="_blank" href="images\Apple iPhone 6S.jpg">Xiaomi Redmi note 6 Pro</a></h2>
              </div>
              <ul>
                <li>Qualcomm SDM636 Snapdragon 636/li>
                <li>4GB RAM</li>
                <li>64GB internal storage</li>
                <li>4000 mAh battery</li>
              <ul>
            </th>
            <th>
              <ul>
                <br><br>
                <li>Dual(12MP 5MP)rear,Dual(20MP 2MP) selfie</li>
                <li>6.26 inches Screen</li>
                <li>Dual,Nano-SIM (Hybrid Slot)</li>
                <li>Android v8.1(oreo)</li>
              </ul>
            </th>
          </tr>

        <tr>
          <th>
            <div class="image">
              <a target="_blank" href="images\Apple iPhone 5S.jpg">
                <img src="static\xiaomi\redmi 7.jpg" width="100">
              </a>
            </div>
          </th>
          <th>
            <div class="mob_title">
              <h2><a target="_blank" href="images\Apple iPhone 6S.jpg">Redmi 7</a></h2>
            </div>
            <ul>
              <li>Qualcomm SDM632 Snapdragon 632</li>
              <li>2GB RAM</li>
              <li>32GB internal storage</li>
              <li>4000 mAh battery</li>
            <ul>
          </th>
          <th>
            <ul>
              <br><br>
              <li>Dual(12M 2MP)rear, 8MP selfie</li>
              <li>6.26 inches Screen</li>
              <li>Dual, Nano-SIM(Dedicated Slot)</li>
              <li>Android v9.0(pie)</li>
            </ul>
          </th>
        </tr>

        <tr>
          <th>
            <div class="image">
              <a target="_blank" href="images\Apple iPhone 7 Plus.jpg">
                <img src="static\xiaomi\redmi y3.jpg" width="100">
              </a>
            </div>
          </th>
          <th>
            <div class="mob_title">
              <h2><a target="_blank" href="images\Apple iPhone 6S.jpg">Redmi Y3</a></h2>
            </div>
            <ul>
              <li>Qualcomm Snapdragon 632</li>
              <li>3GB RAM</li>
              <li>32GB internal storage</li>
              <li>4000 mAh battery</li>
            <ul>
          </th>
          <th>
            <ul>
              <br><br>
              <li>Dual (12MP 2MP) rear, 32MP selfie</li>
              <li>6.26 inches Screen</li>
              <li>Dual, Nano-SIM(Dedicated Slot)</li>
              <li>Android v9.0(Pie)</li>
            </ul>
          </th>
        </tr>


      <tr>
        <th>
          <div class="image">
            <a target="_blank" href="images\Apple iPhone 6S.jpg">
              <img src="static\xiaomi\redmi note 7s.jpg" width="100">
            </a>
          </div>
        </th>
        <th>
          <div class="mob_title">
            <h2><a target="_blank" href="images\Apple iPhone 6S.jpg">Redmi Note 7S</a></h2>
          </div>
          <ul>
            <li>Qualcomm Snapdragon 660</li>
            <li>4GB RAM</li>
            <li>64GB internal storage</li>
            <li>4000 mAh battery</li>
          <ul>
        </th>
        <th>
          <ul>
            <br><br>
            <li>Dual(48MP 5MP) rear, 13MP selfie</li>
            <li>6.3 inches Screen</li>
            <li>Dual,Nano-SIM (Hybrid Slot)</li>
            <li>Android v9.0(pie)</li>
          </ul>
        </th>
      </tr>

    <tr>
      <th>
        <div class="image">
          <a target="_blank" href="images\Apple iPhone 6S.jpg">
            <img src="static\xiaomi\redmi 6A.jpg" width="100">
          </a>
        </div>
      </th>
      <th>
        <div class="mob_title">
          <h2><a target="_blank" href="images\Apple iPhone 6S.jpg">Redmi 6A</a></h2>
        </div>
        <ul>
          <li>Mediatek Helio A22</li>
          <li>2GB RAM</li>
          <li>16GB internal storage</li>
          <li>3000 mAh battery</li>
        <ul>
      </th>
      <th>
        <ul>
          <br><br>
          <li>13MP rear, 5MP selfie</li>
          <li>5.45 inches Screen</li>
          <li>Dual,Nano-SIM (Dedicated Slot)</li>
          <li>Android v8.1(Oreo)</li>
        </ul>
      </th>
    </tr>


    <tr>
      <th>
        <div class="image">
          <a target="_blank" href="images\Apple iPhone 6.jpg">
            <img src="static\xiaomi\mi a2.jpg" width="100">
          </a>
        </div>
      </th>
      <th>
        <div class="mob_title">
          <h2><a target="_blank" href="images\Apple iPhone 6S.jpg">Mi A2</a></h2>
        </div>
        <ul>
          <li>Qualcomm Snapdragon 660</li>
          <li>4GB RAM</li>
          <li>64GB internal storage</li>
          <li>3000 mAh battery</li>
        <ul>
      </th>
      <th>
        <ul>
          <br><br>
          <li>Dual(12MP 20MP) rear, 20MP selfie</li>
          <li>5.99 inches Screen</li>
          <li>Dual Sim (Nano-SIM)</li>
          <li>Android v8.1(oreo)</li>
        </ul>
      </th>
    </tr>


  <tr>
    <th>
      <div class="image">
        <a target="_blank" href="images\Apple iPhone Xs Max.jpg">
          <img src="static\xiaomi\redmi 6 pro.jpg" width="100">
        </a>
      </div>
    </th>
    <th>
      <div class="mob_title">
        <h2><a target="_blank" href="images\Apple iPhone 6S.jpg">Redmi 6 Pro</a></h2>
      </div>
      <ul>
        <li>Qualcomm Snapdragon 625</li>
        <li>3GB RAM</li>
        <li>32GB internal storage</li>
        <li>4000 mAh battery</li>
      <ul>
    </th>
    <th>
      <ul>
        <br><br>
        <li>Dual (12MP 5MP) rear, 5MP selfie</li>
        <li>5.84 inches Screen</li>
        <li>Dual, Nano-SIM(Deicated Slot)</li>
        <li>Android v8.0(Oreo)</li>
      </ul>
    </th>
  </tr>


<tr>
  <th>
    <div class="image">
      <a target="_blank" href="images\Apple iPhone 8 Plus.jpg">
        <img src="static\xiaomi\poco F1.jpg" width="100">
      </a>
    </div>
  </th>
  <th>
    <div class="mob_title">
      <h2><a target="_blank" href="images\Apple iPhone 6S.jpg">poco F1</a></h2>
    </div>
    <ul>
      <li>Qualcomm Snapdragon 845</li>
      <li>6GB RAM</li>
      <li>64GB internal storage</li>
      <li>4000 mAh battery</li>
    <ul>
  </th>
  <th>
    <ul>
      <br><br>
      <li>Dual (12MP 5MP) rear, 20MP selfie</li>
      <li>6.18 inches Screen</li>
      <li>Dual,Nano-SIM (Hybrid Slot)</li>
      <li>android v8.1(Oreo)</li>
    </ul>
  </th>
</tr>

</html>
